Jinja2==2.7.3
Logbook==0.8.1
Mako==1.0.0
MarkupSafe==0.23
Nikola==7.2.0
Pillow==2.7.0
PyRSS2Gen==1.1
Pygments==2.0.1
Unidecode==0.04.17
Yapsy==1.10.423
backports.ssl-match-hostname==3.4.0.2
blinker==1.3
certifi==14.05.14
docutils==0.12
doit==0.26.0
gnureadline==6.3.3
ipython==2.3.1
lxml==3.4.1
natsort==3.5.1
python-dateutil==2.3
pyzmq==14.4.1
requests==2.5.1
six==1.8.0
tornado==4.0.2
webassets==0.10.1
wsgiref==0.1.2
